body {
    margin:0;
    padding:0;
}

.md-tab.md-active {
    cursor: default;
    color: rgba(57,73,171,1) !important;
    font-weight: 700;
}

.whiteColor{
    color:white !important;
}

md-input-container .md-input {
    border-color: white !important;
    width:20vw !important;
}