body {
    margin: 0;
    padding: 0;
}

.md-tab.md-active {
    cursor: default;
    color: rgba(57,73,171,1) !important;
    font-weight: 700;
}

.whiteColor {
    color: white !important;
}

md-input-container .md-input {
    border-color: white !important;
    width: 20vw !important;
}

form span {
    display: block;
    margin: 5px;
}

.app-background-color {
    background-color: #81A2D3;
}

.app-set-block-inline {
    display: inline-block !important;
}

.app-tab-container {
    height: 90vh;
    overflow-y: auto;
    padding: 0px !important;
}

.app-tab {
    padding:5px;
}
